:root {
  --md-primary-fg-color: rgb(45,90,48);
  --md-primary-fg-color--light: rgb(70,120,70);
  --md-primary-fg-color--dark: rgb(30,60,32);
  --md-accent-fg-color: rgb(45,90,48);
}

/* docs/css/custom.css */
/* 设置顶部导航栏的背景颜色 */
.md-header,
.md-tabs {
  background-color: var(--md-primary-fg-color);
}

/* 可选：设置导航栏文字颜色 */
.md-header .md-header-nav__title,
.md-header .md-header-nav__link {
  color: white; /* 设置为白色以提高可读性 */
}

/* docs/css/custom.css */
.md-typeset a {
  color: rgb(70, 142, 70) !important;
}

.md-typeset a:hover {
  color: rgb(179, 171, 49) !important;
}

.md-nav--primary .md-nav__title {
    background-color: var(--md-primary-fg-color);
    color:white;
}

/* docs/css/custom.css */
body {
  background-color: rgb(254, 254, 255);
}

/* 当前选中的目录项 */
.md-nav__link--active {
    color: rgb(45,90,48) !important;
}

.three-line-table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}


.three-line-table th {
    text-align: center;
    border-bottom: 1.5px solid #333;
    padding: 8px;
}


.three-line-table td {
    border: none;
    padding: 6px 12px;
}


/* 第一列左对齐 */
.three-line-table td:first-child {
    text-align: left;
}


/* 第二列数字靠右 */
.three-line-table td:nth-child(2) {
    text-align: center;
}


/* 二级分类缩进 */
.three-line-table .indent {
    padding-left: 35px;
}